/* Add this to the existing styles.css */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Jivitri', sans-serif;
}

body {
  margin: 0;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #1b995e;
  color: white;
  text-align: center;
}

#user-docs {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.22);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

#user-docs li {
  list-style: none;
  margin: 1rem;
}

#user-docs button {
  padding: 6px 12px;
  color: #fff;
  background-color: #1b995e;
  transition: 0.3s ease all;
  outline: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

#user-docs button:hover {
  background-color: #0e6640;
}

#user-docs .delete-button {
  padding: 6px 12px;
  background-color: #ff6e6c; 
  margin-left: 10px;
  cursor: pointer;
}

#user-docs .delete-button:hover {
  background-color: #c0392b; 
}



#user-input {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.22);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

#drop-zone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 2rem;
  background-color: #f9f9f9;
  cursor: pointer;
}

#drop-zone p {
  color: #aaa;
}


#drop-zone label {
  padding: 8px 12px;
  color: #fff;
  background-color: #1b995e;
  transition: 0.3s ease all;
}

#drop-zone input {
  display: none;
}

iframe {
  border: none;
  margin-top: 1rem;
}
